<ion-header no-border>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'EXHIBITIONS.LIST.TITLE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>



<ion-content class="blue-background">
    
  

    <ion-list *ngIf="hasExhibitions" id="exhibition-list">
        <ion-card class="exhibition-item" *ngFor="let exhibition of exhibitions">
            <ion-grid>
              <ion-row>
                <ion-col col-5 class="image-col">
                  <img (click)="goToDetail(exhibition)" src={{exhibition.image}}/>
                </ion-col>
                <ion-col col-7 class="info-col">
                  <h2 (click)="goToDetail(exhibition)">
                    {{exhibition.name}}
                  </h2>
                  <span>
                    {{exhibition.general_description}}
                  </span>
                </ion-col>
              </ion-row>
              <ion-row class="actions">
                <ion-col col-6>
                  <button ion-button clear color="background" *ngIf="isDownloaded(exhibition)" (click)="delete(exhibition)">
                      <ion-icon class="delete" name="ios-trash"></ion-icon>
                  </button>
                </ion-col >
                
                <ion-col col-6 class="right"  *ngIf="exhibition.premium != true">
                  <button ion-button  color="primary" *ngIf="!isDownloaded(exhibition)" (click)="goToDetail(exhibition)">
                      Descargar <ion-icon name="arrow-down"></ion-icon> 
                  </button>
                  <button ion-button  color="primary" class="enter-button" *ngIf="isDownloaded(exhibition)" (click)="goToDetail(exhibition)">
                      Entrar 
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wUfCykqDzay6QAAATxJREFUSMft1klKpEEQBeAvxBEaFFtd9QmsVUOvvIfewBt4BlcN7kX3XsFDuFFQnKBREEGQAgXFocJNCsXPb1U5VINQD3IRARkvIjIj84UekJmzWMMUTnCAU5zhCrcR8dgpxnBN0AamK+6f+I35Yj/hDte4wGlmHuEIexGx3y3zkczczMxmzWplZ7Qy8z4zNzJztGtF+IEhbKFZfBNYwlyHPANjmOypdQVN/MVxseew0IXIu86ovZMRkaWlLZ/EkP+Eb02Ug9bVYQfn/Sa6xzq23zqHj85RFeNYLkMb/SSCP4OBHQzsp9Hp1kVmxlcl9BbRFFYqP+yvrya6wTMWK/7JHi7BY9lf+89XBcp8qagdM1hFo9jP5Um6xmWRXq8qaDci9rpWVCeViq7bLTruBIcl+L+i624i4sEA/cAL/MGV9s+TjicAAAAASUVORK5CYII=" />
                  </button>
                </ion-col>
                
                <ion-col col-6 class="right" *ngIf="exhibition.premium == true">
                  <button *ngIf=" !checkIfPayed(exhibition)" ion-button  color="primary" (click)="purchaseExhibition(exhibition)">
                      Comprar <ion-icon name="card"></ion-icon> 
                  </button>
                  <button ion-button  color="primary" *ngIf="!isDownloaded(exhibition) && checkIfPayed(exhibition)" (click)="goToDetail(exhibition)">
                      Descargar <ion-icon name="arrow-down"></ion-icon> 
                  </button>
                  <button ion-button  color="primary" class="enter-button" *ngIf=" isDownloaded(exhibition) && checkIfPayed(exhibition)" (click)="goToDetail(exhibition)">
                      Entrar 
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4wUfCykqDzay6QAAATxJREFUSMft1klKpEEQBeAvxBEaFFtd9QmsVUOvvIfewBt4BlcN7kX3XsFDuFFQnKBREEGQAgXFocJNCsXPb1U5VINQD3IRARkvIjIj84UekJmzWMMUTnCAU5zhCrcR8dgpxnBN0AamK+6f+I35Yj/hDte4wGlmHuEIexGx3y3zkczczMxmzWplZ7Qy8z4zNzJztGtF+IEhbKFZfBNYwlyHPANjmOypdQVN/MVxseew0IXIu86ovZMRkaWlLZ/EkP+Eb02Ug9bVYQfn/Sa6xzq23zqHj85RFeNYLkMb/SSCP4OBHQzsp9Hp1kVmxlcl9BbRFFYqP+yvrya6wTMWK/7JHi7BY9lf+89XBcp8qagdM1hFo9jP5Um6xmWRXq8qaDci9rpWVCeViq7bLTruBIcl+L+i624i4sEA/cAL/MGV9s+TjicAAAAASUVORK5CYII=" />
                  </button>
                </ion-col>
                
              </ion-row>


            <div  style="width: 100%; background-color: grey;">
              <div id="myProgressBar{{exhibition.id}}" style="width: 1%; height: 26px; background-color: green; display:none; text-align:center; font-size: 16px; color: white ">
                  {{ loadProgress }} % 
              </div>
            </div>
                
             <!--<progress-bar *ngIf="!isDownloaded(exhibition)"  [progress]="loadProgress" ></progress-bar> -->
                
              <ion-row>
                  <button ion-button block color="active" (click)="goToMuseum(exhibition.museum.id)">
                    {{exhibition.museum.name}}
                  </button>
              </ion-row>
            </ion-grid>
                          

        </ion-card>
        

    </ion-list>
    


    
    <div *ngIf="!hasExhibitions" class="message-container">
        <img class="image" src="https://trello-attachments.s3.amazonaws.com/58e4c7c3c40db2d4f44c74aa/592d2b06ccd804051d2bd314/9126f357c17774b961ed645becdc6a0c/favicon.png">
        <div class="wrapper">
          <h5 class="message">
            {{'EXHIBITIONS.LIST.EMPTY_ALERT' | translate}}
          </h5>
          <ion-icon class="icon" name="list"></ion-icon>
        </div>
    </div>
</ion-content>