page-exhibition-list {
  .right{
    text-align: right;
  }

  .image-col{
    border-right: 1px solid map-get($colors, background);
    max-height: 250px;
    overflow: hidden;
  }

  .info-col{
    color: map-get($colors, background);
    h2{
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }

  .actions{
    button{
      ion-icon{
        margin-left: 8px;
        
      }
      .delete{
            font-size: 28px;
      }
      img{
         margin-left: 8px;
         max-height: 25px;
         max-width: 16px;
      }
      
    }
  }
}
